:root {
     font-size: 15px;
     --main-page-color: pink;
     --border-production: 2px dashed blue;
     --title-font-color: rgb(49, 80, 131);
     --button-fontWeight: 800;
     --initTextFontSize: 1.1rem;
     --initTextFontWeight: 400;
     --nomal-font_family: Poppins-Medium;
}


@font-face {
     font-family: Montserrat-BlackItalic;
     src: url('../assets/fonts/Montserrat/Montserrat-BlackItalic.ttf');
}

@font-face {
     font-family: Poppins-Medium;
     src: url('../assets/fonts/Poppins/Poppins-Medium.ttf');
}

